<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/user.jpeg" alt="user">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat, obcaecati!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nam dolorum in reprehenderit officiis distinctio iure a, assumenda laborum laudantium ipsum hic! Dolorem, quidem quae eaque pariatur voluptas illum assumenda enim. Laudantium quos et nesciunt iste placeat earum, eum aspernatur?</p>
        {{>footer}}
    </div>
</body>
</html>